.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden; /*сделал появление окна не через смену display, а через visibility, чтобы popup появлялся плавно*/
  opacity: 0;
  transition: all .6s ease;
}